src/A*/
src/C*/
src/DSSN/*lock.*
src/DSSN/*.rtf
src/DSSN/*.pdf
src/DSSN/*.docx
src/DSSN/*.pptx
src/DSSN/HW1/**
src/DSSN/Exam/**
src/Dig*/
src/F*/
src/*.zip
src/G*/
src/L*/
src/M*/
src/ML/
src/Mechatronics/
src/Num_comp/
src/uMicroCode/